@media screen and (max-width: 600px) {
  .has-site-title .Mobile-bar-branding {
    font-size: 1.3rem;
    font-weight: 800;
  }
}

@media screen and (min-width: 601px) and (max-width:1200px) {
  .has-site-title .Mobile-bar-branding {
    font-size: 2.5rem;
    font-weight: 800;
  }
}
.has-site-title .Mobile-bar-branding, .has-site-title .Header-branding {
  text-rendering: optimizelegibility;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.1em;
  text-transform: none;
  color: rgb(26, 31, 45);
}

h1, h2, h3, p, body, * {
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  font-weight: 800;
}

h2 {
  font-size: 1.6rem;
}

h2, h3 {
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}
[class$="button-element"], [class$="editable-button"] {  /* WE USE * HERE */
  background: #e39726 !important;
  color: black !important;
  border-radius: 15px !important;
  font-size: 1.5rem;
}

.Index-page--has-image .sqs-block-html p a,
.Footer-blocks h2 a,
a {
  text-decoration: none;
  border-bottom: 0;
}

@media screen and (min-width: 419px) {
  .btn-primary, a.btn.btn-primary {
    padding: .375rem 2.4rem;
    color: #fff;
    background-color: #008cba;
    border-color: #008cba;
  }
}

@media screen and (max-width: 419px) {
  .btn-primary, a.btn.btn-primary {
    padding: .375rem 1.5rem;
    color: #fff;
    background-color: #008cba;
    border-color: #008cba;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  padding: .375rem 2.4rem;
}
